<div class="row">
	<div class="large-12 columns">
		<div id="tasks">
			<hr><br>
			<div id="kat">
				<div id="prompt"></div>
				<br>
				<span><%= render 'kat_form' %></span>
				<br>
				<span><%= render 'primewire_form' %></span>
				<br>
				<span><%= render 'watchepisodeseries_form' %></span>
				<br>
				<span><%= render 'watchfree_form' %></span>
				<br>
				<span><%= render 'watchfree_tv_form' %></span>
				<br>
				<span><%= render 'featured_form' %></span>
				<br>
				<span><%= render 'duplicates_form' %></span>
			</div>
			<hr><br>
		</div>
	</div>
</div>
