<li id="gcs-links">
    <a href="#">google custom search</a>
    <ul class="menu vertical trail-menu">
        <li class="menu-item"><%= link_to "youtube.com", gcs_youtube_path %></li>
        <li class="menu-item"><%= link_to "mtv.com", gcs_mtv_path %></li>
        <li class="menu-item"><%= link_to "vevo.com", gcs_vevo_path %></li>
        <li class="menu-item"><%= link_to "toonme.net", gcs_toonme_net_path %></li>
        <li class="menu-item"><%= link_to "watchcartoon.tv", gcs_watchcartoon_tv_path %></li>
        <li class="menu-item"><%= link_to "cartooncrazy.me", gcs_cartooncrazy_me_path %></li>
        <li class="menu-item"><%= link_to "qudustream.com", gcs_quedustream_path %></li>
        <li class="menu-item"><%= link_to "streamdown.co", gcs_streamdown_path %></li>
        <li class="menu-item"><%= link_to "series-en-streaming.com", gcs_seriesenstreaming_path %></li>
        <li class="menu-item"><%= link_to "zone-telechargement.ru", gcs_zone_path %></li>
        <li class="menu-item"><%= link_to "youwatchseries.com", gcs_youwatchseries_path %></li>
        <li class="menu-item"><%= link_to "iwatchonline.cr", gcs_iwatchonline_path %></li>
        <li class="menu-item"><%= link_to "wtvl.to", gcs_watchtvlinks_path %></li>
        <li class="menu-item"><%= link_to "mywatchseries.to", gcs_onwatchseries_path %></li>
        <li class="menu-item"><%= link_to "streamin.to", gcs_streamin_path %></li>
        <li class="menu-item"><%= link_to "primeseries.to", gcs_primeseries_path %></li>
        <li class="menu-item"><%= link_to "watchepisodeseries.com", gcs_watchepisodeseries_path %></li>
        <li class="menu-item"><%= link_to "watchfilmi.com", gcs_watchfilmi_path %></li>
        <li class="menu-item"><%= link_to "openloadmovies.net", gcs_openloadmovies_path %></li>
        <li class="menu-item"><%= link_to "www.movie9k.to", gcs_movie9k_path %></li>
        <li class="menu-item"><%= link_to "www.movietubenow.bz", gcs_movietubenow_path %></li>
        <li class="menu-item"><%= link_to "watchseriesfree.to", gcs_watchseriesfree_path %></li>
        <li class="menu-item"><%= link_to "xmovies8.org", gcs_xmovies8_path %></li>
        <li class="menu-item"><%= link_to "gomovies.to", gcs_gomovies_path %></li>
        <li class="menu-item"><%= link_to "www.mydownloadtube.tv", gcs_mydownloadtube_tv_path %></li>
        <li class="menu-item"><%= link_to "www.mydownloadtube.com", gcs_mydownloadtube_com_path %></li>
        <li class="menu-item"><%= link_to "www.watchfree.to", gcs_watchfree_path %></li>
        <li class="menu-item"><%= link_to "www.primewire.ag", gcs_primewire_path %></li>
        <li class="menu-item"><%= link_to "putlockers.ch", gcs_putlockers_path %></li>
        <li class="menu-item"><%= link_to "youwatch.org", gcs_youwatch_path %></li>
        <li class="menu-item"><%= link_to "yamivideo.com", gcs_yamivideo_path %></li>
        <li class="menu-item"><%= link_to "xvidstage.com", gcs_xvidstage_path %></li>
        <li class="menu-item"><%= link_to "www.thevideo.me", gcs_thevideo_path %></li>
        <li class="menu-item"><%= link_to "www.nowvideo.sx", gcs_nowvideo_path %></li>
        <li class="menu-item"><%= link_to "www.nosvideo.com", gcs_nosvideo_path %></li>
    </ul>
</li>
